@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/Proxima-Nova-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/Proxima-Nova-Extrabold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/Proxima-Nova-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Proxima-Nova;
  src: url(/fonts/Proxima-Nova-Thin.otf);
  font-weight: 300;
}
