*,*:focus,*:hover {
  outline: none !important;
}

body, html, #root {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: Proxima-Nova;
}
#root {
  overflow-y: auto;
}

ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
  max-height: 300px;
  opacity: 1;
}

.custom-select {
  border-radius: 25px !important;
  height: 38px !important;
}

.container {
  padding: 0
}

.react-add-to-calendar__button{
  text-decoration: none !important;
  &:hover{
    cursor: pointer !important;
  }
}

.react-add-to-calendar__dropdown{
  .outlookcom-link{
    text-decoration: none !important;

  }

  .google-link{
    text-decoration: none !important;

  }
}
