.agenda-container-mobile {
  position: relative;
  top: 76px;
  padding: 10px 15px;
  .agenda-container-mobile__icon-back{
    margin-top: 10px;
    margin-left: calc(100% - 25px);
    @include background-image(25px, 25px);
  }

  .agenda-container-mobile__header{
    margin: 10px 0px;
    .header__icon{
      font-size: 25px;
      color: $purple-level-0;
      display: inline-block;
    }

    .header__name{
      font-size: 25px;
      font-weight: 500;
      margin-left: 20px;
      display: inline-block;
    }
  }
  .agenda-container-mobile__content{
    overflow-x: hidden;
    height: calc(100% - 160px);
    overflow-y: scroll;
    .agenda-card-container-mobile{
      padding: 15px;
      background: rgba(63, 63, 147, 0.05);
      border-radius: 5px;
      margin-top: 10px;
      .agenda-card-container-mobile__image{
        border: 1px solid rgba(196, 196, 196, 1);
        margin: 5px auto;
        @include background-image(300px, 100%);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3px;
        background-color: rgba(196, 196, 196, 1);
      }
  
      .agenda-card-container-mobile__info{
        .info--name{
          margin: 20px 0px 10px 0px;
          font-size: 26px;
          font-weight: 700;
          line-height: 35px;
        }
  
        .info--description{
          line-height: 27px;
          margin: 10px 0px;
          padding-top: 10px;
          font-size: 15px;
          font-weight: 500;
        }
      }
  
      .agenda-card-container-mobile__button{
        text-align: center;
        margin: 20px 0px;
  
        .button__content{
          font-size: 17px !important;
        }
      }
  
    }
  
    .agenda-card-container-mobile:last-child{
      margin-bottom: 20px;
    }
  }

  .agenda-container-mobile__spinner{
    height: 100%;
    transform: translate((0, 20%));
  }

  .agenda-container-mobile__hide{
    text-align: center;
    margin-top: 10%;
    .hide__image{
      width: 200px;
      height: 200px;
    }

    .hide__text{
      font-size: 30px;
      font-weight: 600;
    }
  }
}
