.calendly-mobile-container {
  padding: 76px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 76px);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;

  .calendly-mobile-container__check-email{
    padding: 50px 20px;
    width: 100%;
    .check-email__form{
      margin-top: 100px;
      width: 100%;
      .form__control{
        margin : 15px 0px;
      }
    }
  }
  
  .calendly-mobile-modal__cancel{
    padding: 40px 10px;
    text-align: center;
    .calendly-mobile-modal__cancel--top{
      .result{
        font-size: 25px;
        font-weight: 700;
      }
    }
  
    .calendly-mobile-modal__cancel--bottom{
      border-top: 1px solid  rgba(39, 37, 49, 0.1);
      padding : 20px 0px;
      .time-container{
        background-color: rgba(63, 63, 147, 0.05);
        border-radius: 10px;
        padding:15px;
        .time-container__label{
          font-size: 13px;
          color: rgba(39, 37, 49, 0.6);
          margin : 10px 0px;
        }
        .time-container__content{
          font-size: 15px;
        }
        .time-container__sub-content{
          font-size: 10px;
          color: $purple-level-0;
          margin : 0px 10px;
        }
      }
      .button-link{
        color : rgba(255, 77, 0, 0.7);
        margin-top : 20px;
      }
    }
  }

  .calendly-mobile-modal__body{
    padding: 30px 20px;
    .calendly-modal-mobile__body-left{
      .name-booth{
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin: 10px 0px 20px 0px;
      }
  
      .time-meet{
        background-color: rgba(63, 63, 147, 0.1);
        color: $purple-level-0;
        width: 122px;
        height: 28px;
        line-height: 28px;
        border-radius: 10px;
        padding-left: 20px;
        margin: 10px 0px;
      }
  
      .result{
        padding : 20px;
        margin : 20px 0px;
        background-color: rgba(63, 63, 147, 0.05);
        border-radius: 10px;
        text-align: center;
        .result-children{
          margin : 10px 0px;
          .result-children__label{
            font-size: 16px;
            color: rgba(39, 37, 49, 0.6);
          }
  
          .result-children__content{
            font-size: 20px;
          }
  
          .result-children__sub-content{
            font-size: 12px;
            color: $purple-level-0;
  
          }
        }
      }
    }
  
    .calendly-mobile-modal__body-right{
  
      .body-right__label{
        margin : 10px 0px;
        font-size: 25px;
        text-align:center;
        color: rgba(39, 37, 49, 0.5);
      }
      .body-right__calendly{
        margin : 20px auto;
        display:flex;
        justify-content: center;
      }
      .body-right__guest{
        margin-top:10px;
        border-top: 1px solid  rgba(63, 63, 147, 0.5);
        padding-top: 5px;
        .body-right__guest__btndelete{
          text-align: right;
          color : rgba(63, 63, 147, 0.5);
        }
      }
      .container-button-scroll{
        height : 500px !important;
        text-align:center;
        .container-button-hour{
          width : 200px;
          margin: 0px auto;
          .button{
            padding:6px 0px !important;
            width : 163px;
            margin-top : 15px;
          }
  
          .button-disable{
            padding:6px 0px !important;
            width : 163px;
            margin-top : 15px;
          }
  
          .button-select{
            padding:6px 0px !important;
            width : 163px;
            margin-top : 15px;
          }
  
        }
      }
  
  
    }
  }

  .calendly-mobile-modal__footer{
    border-top: 1px solid rgba(39, 37, 49, 0.1);
    padding: 10px 20px;
    .button--left{
      width: 145px;
      font-size: 9px !important;
      border-radius: 10px;
    }

    .button--right{
      width: 145px;
      font-size: 9px !important;
      border-radius: 10px;
    }
  }

  .calendly-mobile-modal__success{
    padding: 40px 10px;
    text-align: center;
    .calendly-mobile-modal__success--top{
      .icon{
        color:#3f3f93;
        margin : 10px 0px ;
      }
      .result{
        font-size: 25px;
        font-weight: 700;
      }
  
      .description{
        font-size: 15px;
        .sub-description{
          color :  rgba(63, 63, 147, 0.8);
        }
      }
  
      .button{
  
        display: flex;
        justify-content: center;
        text-align: center !important;
        color  :  rgba(63, 63, 147, 0.8);
        margin : 20px 0px;
  
      }
    }
  
    .calendly-mobile-modal__success--bottom{
      border-top: 1px solid  rgba(39, 37, 49, 0.1);
      padding : 20px 0px;
      .time-container{
        background-color: rgba(63, 63, 147, 0.05);
        border-radius: 10px;
        padding:15px;
        .time-container__label{
          font-size: 13px;
          color: rgba(39, 37, 49, 0.6);
          margin : 10px 0px;
        }
        .time-container__content{
          font-size: 15px;
        }
        .time-container__sub-content{
          font-size: 10px;
          color: $purple-level-0;
          margin : 0px 10px;
        }
      }
      .button-link{
        color : rgba(63, 63, 147, 0.8);
        margin-top : 20px;
      }
    }
  }

  .calendly-mobile-container__spinner{
    height: 400px;
    padding: 20% 0px;
  }
}