.exhibitor-container {
  height: calc(100% - 76px);
  .exhibitor-container-left{
    border-right: 1px solid $low-level-gray-2;
    height: 100%;
    .exhibitor-container-left__line-header{
      background-color: $purple-level-0;
      height: 11px;
      border-top-left-radius: 20px;
    }

    .exhibitor-container-left__content{
      padding: 20px 20px;
      height: calc(100% - 11px);
      overflow: auto;
      .exhibitor-container-left__title-header{
        .label{
          font-size: 20px;
          height: 40px;
          line-height: 40px;
          font-weight: 600;
        }

        .button-clear{
          color: $purple-level-0;
          font-size: 13px;
          font-weight: 600;
          line-height: 40px;
          &:hover{
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }

      .exhibitor-container-left__content-item{
        border-top: 0.5px solid $gray;
        margin-top: 10px;
        .content-item__name{
          font-size: 16px;
          font-weight: 600;
          margin-top: 10px;
          margin-bottom: 10px;
          &:hover{
            cursor: pointer;
            opacity: 0.6;
          }
          .icon-arrow{
            font-size: 13px;
            color: $purple-level-0;
            &:hover{
              cursor: pointer;
              opacity: 0.6;
            }
          }
        }

        .content-item__select-all{
          font-size: 12px;
          font-weight: 600;
          color: $purple-level-0;
          margin: 5px 0px;
          &:hover{
            cursor: pointer;
            opacity: 0.6;
          }
        }

        .content-item__checkbox{

        }
      }

      .exhibitor-container-left__content-item:last-child(){
        border-bottom: 0.5px solid $gray;
      }
    }
  }

  .exhibitor-container-right{
    padding: 20px 40px;
    height: 100%;
    .exhibitor-container-right__icon-back{
      margin-left: calc(100% - 30px);
      @include background-image(30px, 30px);
      &:hover{
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .exhibitor-container-right__header{
      .search{
        width : 400px;
        border-radius: 20px 20px 20px 20px;
        border: 1px solid $low-level-gray;
        .search__icon{
          @include background-image(20px,20px);
          line-height: 20px ;
          display: inline !important;
          margin: 5px 10px;
        }
        .input{
          border-radius: none !important;
          border: none !important;
          box-shadow: none !important;
        }
      }

      .result{
        padding-right: 40px;
      }
    }

    .exhibitor-container-right__spinner{
      height: 100%;
      transform: translate((0, 40%));
    }

    .exhibitor-container-right__no-found{
      height: calc(100% - 76px);
      padding-top: 10%;
      .no-found__image{
        width: 200px;
        height: 200px;
      }

      .no-found__text{
        font-size: 30px;
        font-weight: 600;
      }
    }
    .exhibitor-container-right__wrapper-result{
      height:calc(100% - 76px);
      overflow: auto;
      margin-top: 30px;
      .exhibitor-container-right__result{
        margin-bottom: 30px;
        .result__name{
          margin-top: 20px;
          font-size: 25px;
          font-weight: 700;
        }

        .result__items{
          border-radius: 12px;
          background: rgba(63, 63, 147, 0.05);
          margin-top: 20px;
          margin-right: 20px;
          padding: 20px 20px;
          .result__items--info{
            .info__wrapper {
              min-height: 60px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              width:100%;
              padding: 8px 0px;
              // -webkit-user-select: none;
              //    -moz-user-select: none;
              //     -ms-user-select: none;
              //         user-select: none;

              .wrapper__avatar {
                border-radius: 50%;
                background-color:$gray;
                width: 50px;
                height: 50px;
              }

              .wrapper__name{
                padding-left: 7px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                width: calc(100% - 120px);
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                .name__booth{
                  max-width: 100%;
                  @include label-overflow;
                  font-size: 17.5px;
                  font-weight: 500;

                }
                .name__hall{
                  max-width: 100%;
                  @include label-overflow;
                  font-size: 14px;
                  color:$gray;
                }
              }
            }
            .info__avatar{
              width: 50px;
              height: 50px;
              display: inline-block;
              .img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: $gray;
              }
            }

            .info__name{
              display: inline-block;
              margin-left: 10px;

              .info__name--line-1{
                font-size: 18px;
                font-weight: 700;
              }

              .info__name--line-2{
                font-size: 15px;
              }
            }

            .info__group-button{
              display: flex;
              justify-content: flex-end;
              .group-button__inbox{
                background-color: $white;
                height: 40px;
                width: 40px;
                border-radius: 40px;
                box-shadow: 0 2px 4px $gray;
                padding: 10px;
                margin: 10px;
                &:hover{
                  cursor: pointer;
                  background-color: $purple-level-0;
                  color: $white;
                  .group-button__inbox--icon{
                    filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(2);
                  }
                }
                .group-button__inbox--icon{
                  @include background-image(20px, 20px);
                }
              }

              .group-button__appointment{
                background-color: $white;
                height: 40px;
                width: 40px;
                border-radius: 40px;
                box-shadow: 0 2px 4px $gray;
                margin: 10px;
                padding: 10px;
                &:hover{
                  cursor: pointer;
                  background-color: $purple-level-0;
                  color: $white;
                  .group-button__appointment--icon{
                    filter: invert(1) sepia(0) saturate(1) hue-rotate(0deg) brightness(2);
                  }
                }
                .group-button__appointment--icon{
                  @include background-image(20px, 20px);
                }
              }

              .group-button__visit{
                width: 200px;
                margin: 10px;
              }
            }
          }

          .filter{
            font-size: 20px;
            font-weight: 600;
            margin-top: 20px;
          }

          .result__items--list-tag{
            display: flex;
            margin-top: 5px;
            width: 100%;
            flex-wrap: wrap;
            .list-tag__tag{
              word-break: break-all;
              margin-left: 10px;
              margin-top: 10px;
              text-align: center;
              padding: 5px 10px;
              border: 1px solid $purple-level-0;
              border-radius: 30px;
              font-size: 12px;
              height: 30px;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}
