.hall-container {
  position: relative;
  height: calc(100% - 76px);
  @include media-breakpoint-down(md){
    height: calc(100% - 76px);
  }
  .hall-container__scene-container {
    .scene-container__scene-preview {
      .scene-preview__scene {
        height: 100%;
      }
    }
  }
}

#sceneLoadingHall {
  position: absolute;
  width: 20%;
  text-align: center;
  left:40%;
  top: calc(50vh - 35px);
}
