.home-container{
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  .home-container__banner{
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
  }
  .home-container__overlay{
    position: absolute;
    top:0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background:-webkit-gradient(linear, left top, right top, from(rgba(14,33,136,0.50)), to(rgba(0, 212, 255, 0)));
    background:-o-linear-gradient(left, rgba(14,33,136,0.50) 0%, rgba(0, 212, 255, 0) 100%);
    background:linear-gradient(90deg, rgba(14,33,136,0.50) 0%, rgba(0, 212, 255, 0) 100%);
    z-index: 2;
    @include media-breakpoint-down(sm) {
      background:-webkit-gradient(linear, left top, right top, from(rgba(14,33,136,0.55)), to(rgba(0, 212, 255, 0)));
      background:-o-linear-gradient(left, rgba(14,33,136,0.55) 0%, rgba(0, 212, 255, 0) 100%);
      background:linear-gradient(90deg, rgba(14,33,136,0.55) 0%, rgba(0, 212, 255, 0) 100%);
    }
  }
  .home-container__content{
    position: absolute;
    top:0;
    z-index: 3;
    width: 90%;
    height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    .content__wrapper{
      width: 70%;
      padding-top: 8%;
      .wrapper__header{
        line-height: 5.5rem;
        color:black;
        font-size: 5rem;
        margin-bottom: 5px;
        @include media-breakpoint-down(md) {
          line-height: 4.5rem;
          font-size: 4rem;
        }
        @include media-breakpoint-down(sm) {
          line-height: 50px;
          font-size: 42px;
          font-weight: 400;
        }
      }
      .wrapper-description{
        color:black;
        font-size: 1.2rem;
        line-height: 1.4;
      }
      .wrapper__button{
        margin-top: 20px;
        padding: 10 25px
      }
      @include media-breakpoint-down(md) {
        width: 100% !important;
        padding: 10% 15px 0 15px;
      }
    }
  }
}
