.mainstage-mobile-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 86px;
  .mainstage-mobile-container__banner{
    text-align: center;
    .banner__link{
      width:100%;
      .link__image{
        width: 20%;
        height: 10%;
      }
    }
  }
  .mainstage-mobile-container__screen-container{
    width: 100%;
    height: 78%;

    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .screen-container__zoom-password-ask {
      width: 100%;
      height: calc(100% - 80px);
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .zoom-password-ask__heading {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .zoom-password-ask__input{
        max-width: 400px;
        margin-bottom: 20px;
      }
    }
    .screen-container_screen{
      width: 100%;
      .screen__link{
        width: 100%;
        height: calc(100% - 80px);
        -o-object-fit: contain;
           object-fit: contain;
        .link__image {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
    }
    .screen--zoom{
      height: calc(100% - 80px);
    }
    .screen--default {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .screen--youtube{
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      .youtube {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .mainstage-container__banner{
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .banner__image{
      -webkit-box-shadow: 0px 2px 9px 3px rgba(101,101,101,0.18);
              box-shadow: 0px 2px 9px 3px rgba(101,101,101,0.18);
      width:80%
    }
  }
}

#zmmtg-root {
  z-index: 150;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: white;
  &:hover {
    #wc-footer {
      display: flex;
    }
  }
  .chat-container{
    width: 100%;
    height: 100%;
    position: initial;
  }
  .btn-default {
    color: #333;
    background-color: inherit;
    border-color: inherit;
  }
  .chat-pop-out{
    display: none;
  }
  *,*:focus,*:hover {
    outline: none !important;
  }
  .dropdown .dropdown-menu {
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    max-height: initial;
    overflow: initial;
    opacity: 1;
  }
  #wc-footer {
    display: none;
  }
}

.endmeeting-container{
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color:$gray;
  font-size: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
