.mainstage-container {
  height: calc(100% - 76px);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0px;
  display: flex;
  position: relative;
  .mainstage-container__screen-container{
    position: absolute;
    top: 2%;
    left: 21.6%;
    width: 56.8%;
    height: fit-content;
    .screen-container__screen-placeholer{
      width: 100%;
      opacity: 0;
    }
    .screen-container__zoom-password-ask {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .zoom-password-ask__heading {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      .zoom-password-ask__input{
        max-width: 400px;
        margin-bottom: 20px;
      }
    }
    .screen-container_screen{
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      .screen__link{
        width: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        .link__image {
          width: 100%;
          height: 100%;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
    }
    .screen--zoom{
      // height: calc(100% - 80px);
    }
    .screen--default {
      // height: 100%;
      // display: -webkit-box;
      // display: -ms-flexbox;
      // display: flex;
      // -webkit-box-align: center;
      //     -ms-flex-align: center;
      //         align-items: center;
      // -webkit-box-pack: center;
      //     -ms-flex-pack: center;
      //         justify-content: center;
    }
    // .screen--youtube{
    //   position: relative;
    //   width: 100%;
    //   height: 0;
    //   padding-bottom: 56.25%;
    //   .youtube {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //   }
    // }
  }

  .mainstage-container__banner{
    position: absolute;
    width: 12.9%;
    top: 6%;

    .banner__link{
      width:100%;
      height: fit-content;
      .link__image{
        width:100%;
      }
    }
  }
  .mainstage-container__banner--left{
    left:3.8%
  }  
  .mainstage-container__banner--right{
    left: 83.3%;
  }
}


.mainstage-container-mobile{
  margin-top: 76px;
  height: calc(100% - 76px);
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  .mainstage-container__blur-filter {
    filter:blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mainstage-container__banner{
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 3;
  }
  .mainstage-container__screen-container{
    position: relative;
    height: fit-content;
    width: 100%;
    padding: 10px;
    .screen-container__screen-placeholer{
      width: 100%;
      opacity: 0;

    }
    .screen-container_screen{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      left: 0;
      .screen__link{
        width: 100%;
        height: auto;
        .link__image {
          height: auto;
          width: 100%;
        }
      }
      .screen--video{
        position: absolute;
        top: 0;
      }
    }
  }
  .mainstage-container__banner{
    .banner__link{
      width: auto;
      .link__image{
        max-height: 200px;
        width: auto;
      }
    }
  }
}

#zmmtg-root {
  z-index: 150;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: white;
  &:hover {
    #wc-footer {
      display: flex;
    }
  }
  .chat-container{
    width: 100%;
    height: 100%;
    position: initial;
  }
  .btn-default {
    color: #333;
    background-color: inherit;
    border-color: inherit;
  }
  .chat-pop-out{
    display: none;
  }
  *,*:focus,*:hover {
    outline: none !important;
  }
  .dropdown .dropdown-menu {
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    max-height: initial;
    overflow: initial;
    opacity: 1;
  }
  #wc-footer {
    display: none;
  }
}

.endmeeting-container{
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  color:$gray;
  font-size: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-height: 400px) and (orientation: landscape) {
  .mainstage-container-mobile{
    .mainstage-container__banner{
      display: none;
    }
    .mainstage-container__screen-container{
      height: 100%;
      padding: 0;
      .screen-container_screen{
        height: 100%;
      }
      .screen--youtube{
        width: 100%;
      }
    }
 
  }
}