.reset-password-container{
  max-width: calc(100vw - 40px);
  width: 450px;
  height: auto;
  background: #fff;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  -webkit-box-shadow:  0px 2px 9px 3px rgba(86, 86, 86, 0.15);
          box-shadow:  0px 2px 9px 3px rgba(86, 86, 86, 0.15);
  .reset-password-container__form{
    .form__heading{
      font-size: 30px;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .reset-password-container__success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .success__icon{
      background-color: theme-color-level(success, -3);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .icon__check{
        color: white;
        font-size: 50px;
      }
    }
  }
}