.chat-with-us-button {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: absolute;
  @include media-breakpoint-down(sm){
    top: calc(100vh - 220px);
    width: 120px;
  }
  @include media-breakpoint-up(md){
    top: calc(100vh - 268px);
    width: 190px;
  }
  @include media-breakpoint-up(lg){
    top: calc(100vh - 290px);
    width: 201px;
  }
  height: 35px;

  left: 1rem;
  z-index:10;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 1rem;
  @include media-breakpoint-down(sm){
    width: 80px;
    height: 20px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  @include media-breakpoint-up(md){
    width: 150px;
    height: 30px;
  }
  @include media-breakpoint-up(lg){
    width: 201px;
    height: 35px;
  }
  .chat-with-us-button__text{

    @include media-breakpoint-down(sm){
      font-size: 8px;
      text-align: center;

    }
    @include media-breakpoint-up(md){
      font-size: 13px;
    }
    @include media-breakpoint-up(lg){
      font-size: 17px;
    }
  }
  .chat-with-us-button__icon{
    @include media-breakpoint-down(sm){
      @include background-image(12px,12px);
      margin: 0 5px;
    }
    @include background-image(17px,17px);
    margin: 0 10px;
  }
}

.chat-with-us-button-mobile {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: absolute;
  bottom: 90px;
  width: 50px;
  height: 35px;
  left: 0px;
  z-index:10;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 35px 35px 0px!important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;


  .chat-with-us-button-mobile__icon{
    @include background-image(18px,18px);
    margin: 0 5px;
  }
}



