.down-button-container {
  position: absolute;
  // top: calc(100vh - 150px) !important;
  z-index:3;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
@-webkit-keyframes scrollanim {
  0%{
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }

  60%{
    -webkit-transform: translate(0, 0);
    opacity: 0.8;
  }

}
@keyframes scrollanim{
  0%{
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }

  60%{
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.8;
  }
}

@-webkit-keyframes scrollanim2{
  0%{
    -webkit-transform: translate(0, -40px);
    opacity: 0;
  }

  60%{
    -webkit-transform: translate(0, 0px);
    opacity: 0.6;
  }

}

@keyframes scrollanim2{
  0%{
    -webkit-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    transform: translate(0, -40px);
    opacity: 0;
  }

  60%{
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px);
    opacity: 0.6;
  }
}

.down-button-container--center{
  left: calc(50% - 33px);
  .down-button-container__icon {
    .first-path{
      -webkit-animation: scrollanim 1s ease-in-out infinite;
              animation: scrollanim 1s ease-in-out infinite;
      -webkit-animation-delay: 0.8s;
              animation-delay: 0.8s;
    }

    .second-path{
      -webkit-animation: scrollanim2 1s ease-in-out infinite;
              animation: scrollanim2 1s ease-in-out infinite;
    }
    opacity: 1;
  }

}
