.exhibitor-mobile-container{
  height: 100vh !important;
  .exhibitor-mobile-container__title{
    margin-top : 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    .header_title{
      font-size:20px;
    }
    .searchbar{
      width : 130px;
      margin-bottom: 10px;
      height: 20px;
      display: flex;
      .search__icon{
        line-height: 20px ;
        display: inline !important;
        font-size:15px;
        color:black;
        margin: 5px 10px;
      }
    }
  }

  .dropdown__body {
    width: 100%;
    height: 80%;
    .body__booth-wrapper{
      min-height: 80px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .booth-wrapper__name{
        width: calc(100% - 118px);
        word-break: keep-all;
      }
      .booth-wrapper__button{
        height: 49px;
        width: 118px;
      }
    }
    .body__button{
      margin: auto;
      margin-top: 10px;
      width: 140px;
      height: 40px;
    }
  }
}
