.inbox-container{
  height: 100%;
  .inbox-container__conversations{
    padding-bottom: 60px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    .inbox-container__conversations-title{
      font-size: 30px;
      line-height: 30px;
      padding : 20px 20px;
      height: 70px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .inbox-container__list-conversation{
      height: 410px;
      width:100%;
      padding-bottom : 20px;
      .list-conversation__wrapper {
        min-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width:100%;
        padding: 8px 20px;
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        &:hover {
          background-color: $low-level-gray
        }

        &:hover .wrapper__actions{
          opacity: 1;
        }

        .wrapper__avatar {
          @include background-image(40px, 40px);
          border-radius: 50%;
          background-color:white;
          border: 0.5px solid $gray
        }

        .wrapper__name-message{
          padding-left: 7px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: calc(100% - 120px);
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          .name-message__name{
            max-width: 100%;
            @include label-overflow;
            font-size: 17.5px;
            line-height: 1.1;
          }
          .name-message__message{
            max-width: 100%;
            @include label-overflow;
            font-size: 14px;
            line-height: 1;
            color:$gray;
          }
        }

        .name-message__time{
          width : 70px;
          font-size: 10px;
          text-align: right;
        }
      }
      .list-conversation__break{
        margin: 0 0px;
      }
      .conversation-active{
        background-color: #F3F3FA !important
      }
    }
  }

  .inbox-container__chatarea{

    .inbox-container__chatarea-header{
      width: 100%;
      height: 70px;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
      background-color: rgba(250, 251, 255, 1);
      color: rgba(0, 0, 0, 0.65);
      padding: 20px 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      .header__avatar{
        @include background-image(50px,50px);
        border-radius: 50%;
        background-color:white;
        border: 0.5px solid $gray
      }

      .header__name{
        margin-left: 10px;
        font-size: 18px;
        width: calc(100% - 60px);
        @include label-overflow;
      }

      .header__close{
        height: 18px;
        width: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer;
        img {
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          height: 18px;
          width: 18px;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          &:hover {
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }
    }

    .inbox-container__chatarea-content{
      .inbox-container__chat-area {
        overflow-y: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        // height: 430px;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .inbox-area__load-more {
          min-height: 32px;
          font-size: 13px !important;
          font-weight: 400 !important;
          border-radius: 4px !important;
          margin: 8px 23%;
          padding: 4px 6px;
        }

        .inbox-area__message-sent {
          min-height:fit-content;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end;
          margin: 3px 0;
          padding: 0px 10px;
          width: 100%;
          .message-sent__content {
            max-width: calc(100% - 60px);
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            -webkit-box-align:end;
                -ms-flex-align:end;
                    align-items:flex-end;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            .content__text {
              -webkit-box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05), 10px 10px 25px rgba(112, 124, 151, 0.05);
                      box-shadow: 15px 15px 35px rgba(112, 124, 151, 0.05), 10px 10px 25px rgba(112, 124, 151, 0.05);
              border: 1px solid rgba(112, 124, 151, 0.25);
              border-radius: 10px 4px 10px 10px;
              color:$black;
              font-size: 14px;
              line-height: 20px;
              padding: 7px;
              word-break: break-word;
              .text__content{
                white-space: break-spaces;
                font-size: 100%;
                margin-bottom: 0;
                font-family: 'Roboto',sans-serif;
                overflow-y: hidden;
                .content__image{
                  margin-top: 10px;
                  max-width: 100%;
                  max-height: 350px;
                }
                .content__video{
                  margin-top: 10px;
                  max-width: 100%;
                  max-height: 350px;
                }
                .content__file{
                  margin-top: 10px;
                  margin-right: 10px;
                  min-width: 120px;
                  max-width: 200px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  width: -webkit-fit-content;
                  width: -moz-fit-content;
                  width: fit-content;
                  position: relative;
                  -webkit-transition: 0.2s all;
                  -o-transition: 0.2s all;
                  transition: 0.2s all;
                  -webkit-box-align: center;
                      -ms-flex-align: center;
                          align-items: center;
                  cursor:pointer;
                  &:hover {
                    color: $light-gray
                  }
                  .file__icon{
                    width: 30px
                  }
                  .file__name-size{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-orient:vertical;
                    -webkit-box-direction:normal;
                        -ms-flex-direction:column;
                            flex-direction:column;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    margin: 0 10px;
                    width: calc(100% - 60px);
                    .name-size__name{
                      width:100%;
                      font-weight: 600;
                      -o-text-overflow: ellipsis;
                         text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      line-height: 1;
                    }
                    .name-size__size{
                      font-size: 12px;
                    }
                  }
                  .file__download-icon{
                    font-size: 20px
                  }
                }
              }
            }
            .content__time {
              font-size: 12px;
              color:$gray;
            }
          }
        }

        .inbox-area__message-received {
          min-height:fit-content;
          float:left;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 3px 0;
          padding: 0px 10px;
          width: 100%;
          .message-received__avatar {
            margin-right: 10px;
            @include background-image(40px,40px);
            border-radius: 50%;
            background-color:white;
          }
          .message-received__content-wrapper {
            max-width: calc(100% - 100px);
            .content-wrapper__text {
              background: $purple-level-1;
              border-radius: 4px 10px 10px 10px;
              color:white;
              font-size: 14px;
              line-height: 20px;
              padding: 7px;
              word-break: break-word;
              .text__content{
                white-space: break-spaces;
                font-size: 100%;
                color:white;
                margin-bottom: 0;
                font-family: 'Roboto',sans-serif;
                overflow-y: hidden;
                .content__image{
                  margin-top: 10px;
                  max-width: 100%;
                  max-height: 350px;
                }
                .content__video{
                  margin-top: 10px;
                  max-width: 100%;
                  max-height: 350px;
                }
                .content__file{
                  margin-top: 10px;
                  margin-right: 10px;
                  min-width: 120px;
                  max-width: 200px;
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  width: -webkit-fit-content;
                  width: -moz-fit-content;
                  width: fit-content;
                  position: relative;
                  -webkit-transition: 0.2s all;
                  -o-transition: 0.2s all;
                  transition: 0.2s all;
                  -webkit-box-align: center;
                      -ms-flex-align: center;
                          align-items: center;
                  cursor:pointer;
                  &:hover {
                    color: $light-gray
                  }
                  .file__icon{
                    width: 30px
                  }
                  .file__name-size{
                    display:-webkit-box;
                    display:-ms-flexbox;
                    display:flex;
                    -webkit-box-orient:vertical;
                    -webkit-box-direction:normal;
                        -ms-flex-direction:column;
                            flex-direction:column;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                    margin: 0 10px;
                    width: calc(100% - 60px);
                    .name-size__name{
                      width:100%;
                      font-weight: 600;
                      -o-text-overflow: ellipsis;
                         text-overflow: ellipsis;
                      overflow: hidden;
                      white-space: nowrap;
                      line-height: 1;
                    }
                    .name-size__size{
                      font-size: 12px;
                    }
                  }
                  .file__download-icon{
                    font-size: 20px
                  }
                }
              }
            }
            .content-wrapper__time {
              font-size: 12px;
              color:$gray;
            }
          }
        }

        .inbox-area__time-divider {
          min-height: fit-content;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          .time-divider__time {
            font-size: 10px;
            position: absolute;
            text-align: center;
            background-color: white;
            padding: 0 5px;
          }
          .time-divider__divider {
            width: 100%;
          }
        }

      }

      .inbox-container__input-area {
        box-shadow: rgba(130, 129, 129, 0.12) 0px -3px 7px 1px;
        display: -webkit-box;
        display: -ms-flexbox;
        //height: 120px;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        .input-area__welcome-container {
          position: absolute;
          //bottom: 180px;
          display: flex;
          .welcome-container__wrapper{
            color: $purple-level-1;
            width: 45%;
            border-radius: 30px;
            border: 1px solid $purple-level-1;
            margin: 0 auto;
            margin-top: 12px;
            &:hover{
              color: white;
              background-color: $purple-level-1;
              cursor: pointer;
            }
            .wrapper__text{
              word-break: keep-all;
              padding: 5px;
              font-size: 14px;
              text-align: center;
              line-height: 1.2;
            }
          }
        }

        .input-area__textarea {
          margin: 5px 10px 0 10px;
          font-size: 14px;
          line-height: 24px;
          border: none;
          resize: none;
          height: 50px;
          width: calc(100% - 20px);
          &:focus {
            outline:none
          }
        }

        .input-area__icon-area {
          height: 30px;
          padding: 0 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          .icon-area__wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .wrapper__icon-button{
              background: $purple-level-1;
              width: 30px;
              height: 30px;
              color:white;
              border-radius:50%;
              display:-webkit-box;
              display:-ms-flexbox;
              display:flex;
              margin-right: 5px;
              -webkit-box-pack:center;
                  -ms-flex-pack:center;
                      justify-content:center;
              -webkit-box-align:center;
                  -ms-flex-align:center;
                      align-items:center;
              font-size:15px;
              cursor: pointer;
              &:hover {
                background: lighten($color: $purple-level-1, $amount: 10)
              }
            }
            .icon-button__send {
              margin-right: 0;
              width: 40px !important;
              height: 40px !important;
            }
          }
        }
        .input-area__emoji-container{
          position: absolute;
          //30px of paddingleft+right
          right: calc(60% + 30px);
          bottom: 110px;
          .emoji-dialog {
            .emoji-row {
              display:-webkit-box;
              display:-ms-flexbox;
              display:flex;
              -ms-flex-pack:distribute;
                  justify-content:space-around;
              .emoji {
                padding: 0
              }
            }
          }

          .emojione{
            cursor:pointer;
            width:22px;
            height:22px
          }
        }
        .input-area__file-container {
          height: 56px;
          padding: 3px 10px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          .file-container__wrapper{
            border: 1.5px solid #d1d1d1;
            margin-right: 10px;
            border-radius: 10px;
            min-width: 120px;
            max-width: 200px;
            padding: 5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            position: relative;
            -webkit-transition: 0.2s all;
            -o-transition: 0.2s all;
            transition: 0.2s all;
            &:hover {
              border: 1.5px solid #e5afc3;
            }
            .wrapper__delete{
              position: absolute;
              top: 0;
              right: 5px;
              color: #999999;
              cursor:pointer;
              -webkit-transition: 0.15s all;
              -o-transition: 0.15s all;
              transition: 0.15s all;
              &:hover {
                color:red
              }
            }
            .wrapper__image{
              width: 30px
            }
            .wrapper__name-size{
              display:-webkit-box;
              display:-ms-flexbox;
              display:flex;
              -webkit-box-orient:vertical;
              -webkit-box-direction:normal;
                  -ms-flex-direction:column;
                      flex-direction:column;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin: 0 10px;
              width: calc(100% - 60px);
              .name-size__name{
                width:100%;
                font-weight: 600;
                -o-text-overflow: ellipsis;
                   text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
              .name-size__size{
                font-size: 12px;
              }
            }
          }
        }
        .input-area__loading-overlay{
          width:100%;
          height: 100%;
          position: absolute;
          background-color: rgba(132,132,132,0.17);
          cursor: progress;
        }
      }

      .inbox-container__chatarea-content__loading{
        height : 100%;
        text-align: center;
        margin-top: 35%;
      }
    }
  }

  .inbox-container__none-select{
    .inbox-container__none-select__header{
      width: 100%;
      height: 80px;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.09);
      background-color: rgba(250, 251, 255, 1);
      color: rgba(0, 0, 0, 0.65);
      padding: 30px 20px;
      .header__close{
        height: 18px;
        width: 100%;
        text-align: right;
        cursor: pointer;
        img {
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          height: 18px;
          width: 18px;
          -webkit-filter: grayscale(100%);
                  filter: grayscale(100%);
          &:hover {
            -webkit-filter: grayscale(0%);
                    filter: grayscale(0%);
          }
        }
      }
    }

    .inbox-container__none-select__text{
      text-align: center;
      font-size: 30px;
      font-weight: 600;
    }
  }
}
