.container-spiner{
  position:fixed;
  height:100%;
  width:100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.36);
  color:white;
  .container-spiner__icon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
    font-size: 20px;
    .icon__disconnect {
      font-size: 32px;
      margin-bottom: 10px;
    }
  }
}