.lobby-container__lobby-modal{
  .lobby-modal__title{
  }

  .lobby-modal__body{
    .lobby-modal__body___content{
      img{
        max-width: 100%;
      }
      video{
        max-width: 100%;
      }
    }
  }

  .lobby-modal__footer{
    width: 100%;
    .lobby-modal__footer__row{
      margin: 0 auto;

      @include media-breakpoint-down(sm){
        width: 100%;
        display: block !important;
      }
      .lobby-modal__footer__row_left{
        .lobby-modal__footer__row_left_bt{
          @include media-breakpoint-down(sm){
            width: 90% !important;
            margin-bottom: 10px;
            margin: 0 15px;
          }
        }
      }

      .lobby-modal__footer__row_right{
        .lobby-modal__footer__row_right_bt{
          @include media-breakpoint-down(sm){
            width: 90% !important;
            margin-bottom: 10px;
            margin: 20px;
          }
        }
      }
    }
  }
}