.navigation-mobile-container{
  position: fixed;
  z-index:10;
  padding: 0px !important;
  height: 45px;
  width : 100%;
  bottom: 0px;
    -webkit-box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
  .navigation-mobile-container-col{
    padding: 0px !important;
    .navigation-mobile-button-container {
      border: 0.1px solid rgba(255,255,255, 1);
      width : 100%;
      height: 45px;
      display:flex;
      background: $purple;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
              box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
      padding: 0px 20px;
      .navigation-mobile-button-container__label{
        margin: auto;
        color: #fff;
        font-size: 10px;
        font-weight: 400;
        text-align: center;
      }
      .navigation-mobile-button-container__icon{
        @include background-image(15px,15px);
        margin: 0px 5px;
        color: $disableColorText !important;
      }
      .disable{
        color: $disableColorText !important;
      }
    }

    .disable{
      background-color: $disableColorBG;
      pointer-events: none;
    }
  }
}





