.navigation-button-container {
  position: absolute;
  z-index:10;
  @include media-breakpoint-down(sm){
    width: 90px;
    height: 25px;
    padding: 5px;
  }
  @include media-breakpoint-up(md){
    width: 150px;
    height: 30px;
  }
  @include media-breakpoint-up(lg){
    width: 201px;
    height: 35px;
  }

  display:-webkit-box;

  display:-ms-flexbox;

  display:flex;
  background: $purple;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  &:hover {
    background: lighten($color: $purple, $amount: 10);
  }
  .navigation-button-container__label{
    // margin: auto;
    width: 150px;
    color: #fff;
    text-align: left;
    margin-left: 2px;
    @include media-breakpoint-down(sm){
      font-size: 8.5px;
      text-align: center;

    }
    @include media-breakpoint-up(md){
      font-size: 13px;
    }
    @include media-breakpoint-up(lg){
      font-size: 16px;
    }
  }
  .navigation-button-container__icon {
    @include background-image(17px,17px);
  }
}

.navigation-button-container--left{
  border-radius: 0px 16px 16px 0px !important;
  left: 0px;
  .navigation-button-container__icon {
    margin-right: 10px;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
}

.navigation-button-container--right{
  border-radius: 16px 0 0 16px !important;
  right:0px;
  .navigation-button-container__icon {
    margin-left: 10px;
    @include media-breakpoint-down(sm){
      display: none;
    }
  }
}
