.notification-mobile-container{
  height: 100vh !important;
  .notification-mobile-container__iconback{
    background-repeat: no-repeat;
    background-size: cover;
    @include background-image(20px,20px);
    margin-left: 26px;
    margin-bottom: 30px;
  }
  .notification-mobile-container__title{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    .notification-mobile-container__icon{
      width: 41px;
      height: 41px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .dropdown__body {
    width: 100%;
    height: 70%;
    padding: 0 10px 10px 20px;
    .body__notification-wrapper{
      min-height: 60px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      padding:15px 0;
      .notification-wrapper__image{
        background-color:  $low-level-gray;
        background: center center / 100% no-repeat;
        height: 50px;
        width: 50px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 5px;
        margin-right: 16px;
      }
      .notification-wrapper__text-time{
        width: calc(100% - 50px);
        .text-time__text{
          color:$black;
          font-size: 18px;
          white-space: normal;
          overflow: hidden;
          line-height:1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
        }
        .text-time__message{
          width: 100%;
          color:$black;
          font-size: 13px;
          white-space: normal;
          word-break: break-word;
        }
        .text-time__time{
          font-size: 11px;
          color: $gray;
          @include label-overflow;
        }
      }
    }

    .body__button{
      margin: auto;
      margin-top: 10px;
      width: 140px;
      height: 40px;
    }
  }

  .dropdown__body--wrapper--loading{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.36);
    padding-top: 100px;
    text-align: center;
  }

}
