@mixin profile-wrapper__notification {
  .profile-wrapper__notification{
    .notification__toggle{
      width : 30px;
      height : 30px;
      border-radius: 50%;
      text-align: center;
      background-color: $purple-level-0;
      .toggle__icon{
        @include media-breakpoint-down(xs){
          display: none;
        }
        @include media-breakpoint-up(sm){
          display: none;
        }
        @include media-breakpoint-up(md){
          display: inline !important;
          font-size:20px;
          color: rgba(255,255,255, 1);
          margin-top: 5px;
          cursor: pointer;
          &:hover{
            color : rgba(255,255,255, 0.75);
            -webkit-transition: 0.2s all;
            -o-transition: 0.2s all;
            transition: 0.2s all;
          }
        }

      }
      .toggle__text{
        @include media-breakpoint-down(xs){
          font-size: 12px;
          color: $gray;
          cursor: pointer;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          margin: 0 15px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover{
            color:$pink !important;
            text-decoration: none;
          }
        }
        @include media-breakpoint-up(sm){
          font-size: 15px;
          color: $gray;
          cursor: pointer;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          margin: 0 15px;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover{
            color:$pink !important;
            text-decoration: none;
          }
        }
        @include media-breakpoint-up(md){
          display: none !important;
        }

      }
      .toggle__badge {
        width: 10px;
        height: 10px;
        position: absolute;
        top: -7px;
        right: -4px;
        color:white;
        border-radius: 50%;
        background-color:theme-color-level(danger, -3);
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
    }
    .notification__dropdown {
      width: 330px;
      @include dropdown-override;
      padding: 10px 0px;
      border-radius: 5px;
      cursor: default;
      .dropdown__header {
        color: $black;
        font-weight: 500;
        padding: 0 10px 10px 10px;
        border-bottom:1px solid $low-level-gray;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
      }
      .dropdown__body {
        height: 250px;
        padding: 0 10px 10px 10px;
        .body__notification-wrapper{
          min-height: 60px;
          display:-webkit-box;
          display:-ms-flexbox;
          display:flex;
          border-bottom:1px solid $low-level-gray;
          padding:10px 0;
          .notification-wrapper__image{
            background-color:  $low-level-gray;
            background: center center / 100% no-repeat;
            height: 50px;
            width: 50px;
            -ms-flex-negative: 0;
                flex-shrink: 0;
            border-radius: 5px;
            margin-right: 10px;
          }
          .notification-wrapper__text-time{
            width: calc(100% - 50px);
            .text-time__text{
              color:$black;
              font-size: 15px;
              white-space: normal;
              overflow: hidden;
              line-height: 18px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 7;
            }
            .text-time__message{
              margin-top: 5px;
              width: 100%;
              color:$gray;
              font-size: 13px;
              white-space: normal;
              line-height: 18px;
              word-break: break-word;
            }
            .text-time__time{
              font-size: 11px;
              color: $gray;
              @include label-overflow;
            }
          }
        }
        .body__button{
          margin: auto;
          margin-top: 10px;
          width: 140px;
          height: 40px;
        }
      }
    }
  }
}

.notification__dropdown--mobile {
  .dropdown__body {
    height: 320px;
    .body__notification-wrapper{
      min-height: 60px;
      display:-webkit-box;
      display:-ms-flexbox;
      display:flex;
      border-bottom:1px solid $low-level-gray;
      padding:10px 0;
      .notification-wrapper__image{
        background-color:  $low-level-gray;
        background: center center / 100% no-repeat;
        height: 50px;
        width: 50px;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        border-radius: 5px;
        margin-right: 10px;
      }
      .notification-wrapper__text-time{
        width: calc(100% - 50px);
        .text-time__text{
          color:$black;
          font-size: 15px;
          white-space: normal;
          overflow: hidden;
          line-height:1;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 7;
        }
        .text-time__message{
          width: 100%;
          color:$gray;
          font-size: 13px;
          white-space: normal;
          word-break: break-word;
        }
        .text-time__time{
          font-size: 11px;
          color: $gray;
          @include label-overflow;
        }
      }
    }
    .body__button{
      margin: auto;
      margin-top: 10px;
      width: 140px;
      height: 40px;
    }
  }
}
