.popup-container {
  border-radius: 5px;
  background-color: white;
  width : 400px;
  height: 270px;
  position: absolute;
  z-index:10;
  padding: 15px;
  -webkit-box-shadow: 0px 2px 12px 5px rgba(86, 86, 86, 0.40);
          box-shadow: 0px 2px 12px 5px rgba(86, 86, 86, 0.40);
  .popup-container__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .body__left {
      .left__avatar {
        .avatar__img {
          border-radius: 50%;
          border: 0.5px solid $light-gray;
          width: 110px;
          height: 110px;
          -o-object-fit: cover;
             object-fit: cover;
        }
      }
      .footer__button {
        font-weight: normal !important;
        font-size: 15px !important;
        width: 110px;
        margin: 20px 0;
      }
    }
    .body__right {
      margin-left: 15px;
      .right__name {
        font-size: 18px;
        font-weight: bold;
      } 
      .right__description {
        color: $gray;
        img {
          display:none;
        }
        h1, h2, h3, h4, h5, p {
          font-size: 15px !important;
          line-height: 1.3
        }
      }
    }
  }
}