@mixin profile-wrapper__profile{
  .profile-wrapper__profile{
    .profile__toggle {
      background: center center / 100% no-repeat;
      height: 30px;
      border-radius: 50%;
      width: 30px;
      margin-left: 20px;
      position: relative;
      border: 1px solid #d9d9d9;
      cursor: pointer;
      &:after {
        content:'\A';
        position:absolute;
        width:100%; height:100%;
        top:0; left:0;
        background:rgba(255,2555,255,0.6);
        opacity:0;
        -webkit-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
      }
      &:hover:after {
        opacity:1;
      }
    }
    .profile__dropdown{
      color:$gray;
      width: 280px;
      @include dropdown-override;
      border-radius: 5px;
      .dropdown__avatar-name{
        height: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .avatar-name__avatar {
          border: 1px solid #d9d9d9;
          background: center center / 100% no-repeat;
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
        .avatar-name__name-email{
          margin-left: 10px;
          .name-email__name{
            font-weight: 600;
            font-size: 18px;
            line-height: 1;
            max-width: 200px;
            @include label-overflow;
          }
          .name-email__email{
            font-size: 13px;
            font-style: italic;
            @include label-overflow;
          }
        }
      }
      .dropdown__items{
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        line-height: 1.9;

        margin:0;
        li {
          cursor: pointer;
          -webkit-transition: all 0.2s;
          -o-transition: all 0.2s;
          transition: all 0.2s;
          &:hover {
            color: $pink;
          }
        }
        hr {
          margin: 3px 0;
        }
      }
    }
  }
}
