.resource-hub-button {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: absolute;
  width: 201px;
  height: 35px;
  bottom:40px;
  left: 231px;
  z-index:10;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  @include media-breakpoint-down(sm){
    width: 100px;
    height: 20px;
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 110px;

  }
  @include media-breakpoint-up(md){
    width: 170px;
    height: 30px;
  }
  @include media-breakpoint-up(lg){
    width: 205px;
    height: 35px;
  }
  .resource-hub-button__text{
    @include media-breakpoint-down(xs){
      font-size: 8px;
      text-align: center;
    }
    @include media-breakpoint-up(sm){
      font-size: 8px;
      text-align: center;

    }
    @include media-breakpoint-up(md){
      font-size: 13px;
    }
    @include media-breakpoint-up(lg){
      font-size: 17px;
    }
  }
  .resource-hub-button__icon{
    @include media-breakpoint-down(sm){
      @include background-image(12px,12px);
      margin: 0 5px;
    }
    @include background-image(17px,17px);
    margin: 0 10px;
  }
}