.resource-hub-mobile{
  height: 100vh !important;
  .resource-hub-mobile__title{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .dropdown__body {
    width: 100%;
    height: 80%;
    .resource-hub-mobile__card-container{
      border-radius: 10px;
      box-shadow: 1px rgba(255, 255, 255, 0.2);
      margin: 20px 0px;
      border: 1px solid rgba(102, 102, 102, 0.1);
      .resource-hub-mobile__header{
        display: flex;
        margin: 20px 0px;
        .resource-hub-mobile__header__img{
          width: 39px;
          height: 39px;
          border-radius: 39px !important;
          margin:0px 20px;
        }
        .resource-hub-mobile__header__name{
          font-size: 25px;
          font-weight: 400;
        }
      }

      .resource-hub-mobile__body{
        word-break: break-word;
        font-size: 12px;
        line-height: 18px;
        padding: 10px 0px;
        margin-left: 20px;
        width: 80%;
      }

      .resource-hub-mobile__button{
        margin:20px;
        text-align: right;
      }
    }

  }
}
