.resource-hub-button-mobile {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position: absolute;
  bottom: 100px;
  width: 61px;
  height: 49px;
  left: 0px;
  -webkit-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0px 49px 49px 0px!important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  .resource-hub-button-mobile__icon{
    @include background-image(18px,18px);
    margin: 0 5px;
  }
}