.container-volume-mobile{
  position: absolute;
  z-index: 5;
  // top : calc(100vh - 260px);
  right : 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  .container-volume-button{
    width: 36px;
    height: 36px;
    margin-top:10px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    //background: rgba(255,255,255, 1);
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    .volume__icon{
      @include background-image(36px, 36px);
    }
  }

  .disabled {
    .volume__icon{
      filter: brightness(0.5);
    }
  }

}
