.container-button-mobile-key{
  position: absolute;
  z-index:1 ;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  right : 10px;
  .disabled {
    background: rgba(181,181,181,0.71) !important;
    cursor: not-allowed !important;
  }

  .container-button-mobile-key_center{
    border-radius: 50%;
    height: 36px;
    width: 36px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    background-color: $purple;
    font-size: 25px;
    text-align: center;
    .key__icon{
      margin-top:8px;
      margin-left: 0px;
      font-size: 20px;
      color: #ffffff;
    }
  }

}
