.container-button-key{
  position: absolute;
  z-index:1 ;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top : 7px;
  right : 10px;
  width: 130px;
  .disabled {
    background: rgba(181,181,181,0.71) !important;
    cursor: not-allowed !important;
  }
  .container-button-key_up{
    background: $purple;
    &:hover{
      background: lighten($color: $purple, $amount: 10);
      cursor:pointer;
    }
    margin-bottom: -10px;
    margin-left: 45px;
    height: 36px;
    width: 36px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
    .key__icon{
      margin:7px 0px;
      font-size: 20px;
      color: #ffffff;
    }
  }
  .container-button-left-right-center{
    display: flex;
    margin-top: 15px;
    .container-button-key_left{
      margin: 3px;
      background: $purple;
      &:hover{
        background: lighten($color: $purple, $amount: 10);
        cursor:pointer;
      }
      height: 36px;
      width: 36px;
      -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      font-size: 25px;
      border-radius: 50%;
      float: left;
      text-align: center;
      .key__icon{
        margin-top: 7px;
        margin-right: 3px;
        font-size: 20px;
        color: #ffffff;
      }
    }

    .container-button-key_right{
      margin: 3px;
      background: $purple;
      &:hover{
        background: lighten($color: $purple, $amount: 10);
        cursor:pointer;
      }
      border-radius: 50%;
      float: right;
      height: 36px;
      width: 36px;
      -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      font-size: 25px;
      text-align: center;
      .key__icon{
        margin-top: 7px;
        margin-left: 3px;
        font-size: 20px;
        color: #ffffff;
      }
    }

    .container-button-key_center{
      margin: 3px;
      background: $purple;
      &:hover{
        background: lighten($color: $purple, $amount: 10);
        cursor:pointer;
      }
      border-radius: 50%;
      height: 36px;
      width: 36px;
      -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
      font-size: 25px;
      text-align: center;
      .key__icon{
        margin-top: 9px;
        margin-left: 0px;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }

  .container-button-key_bottom{
    background: $purple;
    &:hover{
      background: lighten($color: $purple, $amount: 10);
      cursor:pointer;
    }
    margin-top: 5px;
    margin-left: 45px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -o-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    -ms-box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    box-shadow: 0 1px 4px 1px rgba(0,0,0, 0.35);
    font-size: 25px;
    text-align: center;
    .key__icon{
      margin: 8px 0px;
      font-size: 20px;
      color: #ffffff;
    }
  }
}
