.navbar-container-mobile{
  -webkit-box-shadow: 0px 2px 9px 3px rgba(86, 86, 86, 0.15);
          box-shadow: 0px 2px 9px 3px rgba(86, 86, 86, 0.15);
  margin-bottom: 0px;
  z-index: 101;
  background-color:white;
  color:#000;
  max-height:100%;
  max-width:100%;
  transition: 0.3s height;
  .navbar-collapse {
    max-width: 100%;
  }

  .navbar-container-mobile__inbox{
    width: 60px;
    height: 40px;
    text-align: center;
    display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    .navbar-container-mobile__inbox__icon{
      @include background-image(40px, 40px);
    }
    .navbar-container-mobile__inbox__badge{
      position: relative;
      top: -50%;
      left: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: red;
      font-size: 12px;
      color: #ffffff;
    }
  }

  .navbar-collapse {
    max-width: 100%;
  }
  .dropdown__navbar-container-mobile__menu{
    height: 100%;
    .navbar-container-mobile__menu{
      height: calc(100vh - 100px);
      .navbar-container-mobile__menu__profile{
        @include profile-mobile-wrapper__profile;
      }
      .navbar-container-mobile__menu__item{
        text-align:center;
        .navbar-container-mobile__menu__item_link{
          margin-top:17px !important;
          .navbar-container-mobile__nav-link {
            margin : 0px 0px;
            font-size:18px;
            color:#000;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            margin: 0 15px;
            -webkit-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;

            text-decoration: none;
          }
        }
      }
    }
  }

  .navbar-container-mobile__brand-image {
    @include background-image(50px,140px);
  }

  .profile-wrapper{

    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;

  }
  .collapse.in {
    overflow: hidden;
  }

}
