@mixin label-overflow{
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin box-shadow-1 {
  -webkit-box-shadow:  0px 2px 9px 3px rgba(86, 86, 86, 0.15);
          box-shadow:  0px 2px 9px 3px rgba(86, 86, 86, 0.15);
}

@mixin box-shadow-2 {
  -webkit-box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
          box-shadow: 0 1pt 12pt rgba(0, 0, 0, .15);
}

@mixin dropdown-override {
  padding: 5px 15px;
  border-radius: 0;
  border: none;
  @include box-shadow-1
}

@mixin background-image($height,$width){
	background: center center / 100% no-repeat;
	height: $height;
	width: $width;
}