$gray: #7a7d85;
$light-gray: rgb(232, 232, 232);
$pink: #BB1176;
$purple:#3f3f93;
$black: #29303b;
$low-level-gray: #ebebeb;
$low-level-gray-2:  #b1b0b0;
$yellow: #FDEDBC;
$blue: #007bff;
$purple-level-0 :  rgba(63, 63, 142, 1);
$purple-level-1 :  rgba(63, 63, 142, 0.85);
$purple-level-2 :  rgba(63, 63, 142, 0.5);
$purple-level-3 :  rgba(63, 63, 142, 0.1);
$disableColorBG: #A5A4AC;
$disableColorText: rgba(205, 205, 205, 1);
$white: #fff
